<script type="application/ld+json">
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Groove Kitchens",
  "image": "https://groovekitchens.netlify.app/assets/kitchen-inspiration-sample.webp",
  "@id": "https://groovekitchens.netlify.app",
  "url": "https://groovekitchens.netlify.app",
  "telephone": "021 397 863",
  "email": "groovekitchens@gmail.com",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "603 Beach Road",
    "addressLocality": "Rothesay Bay",
    "addressRegion": "Auckland",
    "postalCode": "0630",
    "addressCountry": "NZ"
  },
  "areaServed": "Auckland"
</script>

<app-nav />
<router-outlet />
